Package: jp.r-plus.nocandidatebar
Name: NoCandidateBar
Depends: mobilesubstrate, firmware(>= 5.0)
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: r_plus
Author: r_plus
Section: Tweaks
